# OS
.DS_Store

# IDE
.idea
.vscode

# Secrets
*.key
*.pem

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build output
dist
lib

# Test coverage
coverage
.nyc_output

# Turbo
.turbo

# Worktrees
.worktrees
